  html, body, ul, li, a{
    margin: 0; padding: 0; font: normal  22px/30px 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    color: #233;
  }
  html, body{ width: 100%; height: 100%; position: relative;}
  ul { list-style: none; }
  a { text-decoration: none; }
  * {
    box-sizing: inherit;
  }
  body{
    background: #42e4cc;
  }
  body.post {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  body.index ul {
    position: absolute;
    top: 9.5%;
    left: 9.5%;
    right: 9.5%;
    bottom: 9.5%;
    list-style: none;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.33);
  }
  body.index ul li {
    width: 33.3%;
    height: 33.3%;
    float: left;
    text-align: center;
    border-radius: 2px;
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
  }
  body.index li a{
    display: inline-block;
    position: relative;
    height: 100%;
    line-height: 26vh;
    color: #233;
    text-decoration: none;
    width: 100%;
    /* transition: color ease-out .6s;
    -webkit-transition: color ease-out .6s;
    -moz-transition: color ease-out .6s;
    -o-transition: color ease-out .6s; */
  }
  /* 注意下面and后面要跟空格 */
  @media screen and (max-width: 480px) {
    body.index li a{
      font-size: 16px;
    }
  }
  /* a:hover{
    color: #fff;
  } */
  body.index li:nth-child(5) a{
    width: 100%
  }
  body.index li a img{
    width: 72%;
    /*margin-top: 1.5%;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);

  }
  body.index li:nth-child(1) {
    /*background:#4559F3;*/
    background: rgba(69, 89, 243, 0.76);
  }
  body.index li:nth-child(1):hover {
    /*background:#4559F3;*/
    background: rgba(69, 89, 243, 1);
  }
  body.index li:nth-child(2) {
    /*background: #4CE05F;*/
    background: rgba(76, 224, 95, 0.78);
  }
  body.index li:nth-child(2):hover {
    /*background: #4CE05F;*/
    background: rgba(76, 224, 95, 1);
  }
  body.index li:nth-child(3) {
    /*background: #B3B2B9;*/
    background: rgba(179, 178, 185, .75);
  }
  body.index li:nth-child(3):hover {
    /*background: #B3B2B9;*/
    background: rgba(179, 178, 185, 1);
  }
  body.index li:nth-child(4) {
    background: rgba(179,96,99,0.5);
  }
  body.index li:nth-child(4):hover {
    background: rgba(179,96,99,.7);
  }
  body.index li:nth-child(5) {
    z-index: 2;
    /*background: #923CA0;*/
    background: rgba(146, 60, 160, 0.8);
  }
  body.index li:nth-child(5):hover {
    /*background: #923CA0;*/
    background: rgba(146, 60, 160, 1);
  }
  body.index li:nth-child(6) {
    background: rgba(113, 191, 222, 0.68);
  }
  body.index li:nth-child(6):hover {
    background: rgba(113, 191, 222, 0.88);
  }
  body.index li:nth-child(7) {
    background: rgba(197, 226, 43, 0.72);
  }
  body.index li:nth-child(7):hover {
    background: rgba(197, 226, 43, 0.92);
  }
  body.index li:nth-child(8) {
    background: rgba(218, 129, 50, 0.74);;
  }
  body.index li:nth-child(8):hover {
    background: rgba(218, 129, 50, 0.94);;
  }
  body.index li:nth-child(9) {
    background: rgba(255, 102, 102, .8);
  }
  body.index li:nth-child(9):hover {
    background: rgba(255, 102, 102, 1);
  }
  footer {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
  footer a {
    text-decoration: none;
    font-size: 12px;
    color: #233
  }
  .post-list {
    max-width: 600px;
    margin: 0 auto;
    width: 80%;
    max-height: 100%;
  }
  .post-list li {
    height: 40px;
    line-height: 40px;
    background: #5287ab;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .post-list a {
    color: #fff;
    display: block;
    line-height: inherit;
  }
  .post-list li {
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
  }
  .post-list li:hover {
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, .07);
    transform: scale(1.1);
    -webkit-transform: scale(1.025);
  }
  body.my-trouble h2 i {
    font-size: 60%;
    font-style: normal;
    color: gray;
  }
  body.my-trouble h2 ~ p {
    line-height: 1.7;
    color: #20201b;
  }
  body.my-trouble p ~ h2 {
    margin-top: 84px;
    line-height: 1.5;
  }
  body.my-trouble {
    padding: 7%;
  }
  code {
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    text-align: left;
  }
  body.my-trouble-index {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  a[href='#'] {
    cursor: default;
  }
