  html,body{width: 100%;height: 100%;font-size: 16px;}
  html,body,div,ul,li,p,a,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol{margin: 0; padding: 0;list-style: none; text-decoration: none; color: #000; font-family: "Microsoft Yahei";font-weight: normal;}
  ol{margin: 20px 0 20px;}
  ol li{font-size: 0.95rem;line-height: 2.5; color: blue;text-indent: 2em;}
  body{background: url(../images/body-bg.png);min-width: 1024px;}
  a{color: rgb(0,2,0);color:rgba(0,0,0,.54);}
  h1{font-size: 1.5em;}
  h2{font-size: 1.35em;}
  h5{font-size: 1em;}
  a:hover{color: red;}
  .header,.content,.footer{width: 100%;}
  .header{
    height: 15%;
    outline: 1px solid #747474;
    position: relative;
    width: 100%;
    min-height: 105px;
  }
  #musicBox{
    /*float: right;*/
    position: fixed;
    bottom: 10%;
    left: 5%;
  }
  .header>div{
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
  .header img{
    width: 100px;
    height: auto;
    position: absolute;
    /*top: 50%;*/
    left: 4%;
    top: 50px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.23);
  }
  .title{
    position: absolute;
    left: 21%;
    top: 50px;
  }
  .content{
    height: 80%;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    min-height: 563px;
  }
  .left,.right{
    height: 100%;
    /*border-right: 1px solid #747474;*/
    box-sizing: border-box;
  }
  .left{
    width: 20%;
    float: left;
    /*border-left: 1px solid #747474;*/
  }
  .left ul{
    margin-top: 30%;
    overflow: hidden;
  }
  .left ul li {
    padding: 5px;
    padding-right: 30%;
  }
  .left ul li a{
    display: inline-block;
    width: 100%;
    text-align: right;
  }
  .right{
    width: 80%;
    overflow: hidden;
  }
  .right>div{
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: auto; 
  }
  .right>div>ul{
    margin-top: 30px;
  }
  .right>div>ul li a{
    line-height: 2;
  }
  dl{
    padding-bottom: 80px;
  }
  dt{
    margin: 30px 0 20px 0;
    font-family: 'SimHei';
    font-size: 1.25rem;
    line-height: 2;
    background: #f66;
    color: #fff;
  }
  dl p{
    margin-top: 10px;
    line-height: 1.6;
    font-size: 0.95rem;
    text-indent: 2em;

  }
  .footer{
    height: 5%;
    outline: 1px solid #747474;
    text-align: center;
    overflow: hidden;
    min-height: 35px;
  }
  .footer ul{
    height: 100%;
    display: inline-block;
    overflow: hidden;
  }

  .footer ul li,.footer span{
    float: left;
    padding-left: 20px;
    height: 100%;
  }
  .footer a,.footer span{
    height: 100%;
    line-height: 2;
  }
 @media screen and (max-width: 1200px) {
  #musicBox{
    left: 0;
  }
 }